# 6009 : [기초-입출력] 문자 1개 입력받아 그대로 출력하기(설명)(py)

In [ ]:
a=input()
print(a)

1
1

# 6010 : [기초-입출력] 정수 1개 입력받아 int로 변환하여 출력하기(설명)(py)

In [ ]:
print(int(input()))

1
1

# 6011 : [기초-입출력] 실수 1개 입력받아 변환하여 출력하기(설명)(py)

In [ ]:
print(float(input()))

1
1.0

# 6012 : [기초-입출력] 정수 2개 입력받아 그대로 출력하기1(설명)(py)

In [ ]:
a, b = input().split()
print(a)
print(b)

1, 2
1,
2

# 6013 : [기초-입출력] 문자 2개 입력받아 순서 바꿔 출력하기1(py)

In [ ]:
a=input()
b=input()
print(b)
print(a)

1
2
2
1

# 6014 : [기초-입출력] 실수 1개 입력받아 3번 출력하기(py)

In [ ]:
a=input()

print(float(a))
print(float(a))
print(float(a))

1
1.0
1.0
1.0

# 6015 : [기초-입출력] 정수 2개 입력받아 그대로 출력하기2(설명)(py)

In [ ]:
a, b = input().split()
print(a)
print(b)

a, b
a,
b

# 6016 : [기초-입출력] 문자 2개 입력받아 순서 바꿔 출력하기2(설명)(py)

In [ ]:
a=input()
b=input()
print(b)
print(a)

a
b
b
a

# 6017 : [기초-입출력] 문장 1개 입력받아 3번 출력하기(설명)(py)

In [ ]:
a = input()
print(a, a, a)

a
a a a

# 6018 : [기초-입출력] 시간 입력받아 그대로 출력하기(설명)(py)

In [ ]:
a, b=input().split(':')
print(a, b, sep=':')

2:3
2:3

# 6019 : [기초-입출력] 연월일 입력받아 순서 바꿔 출력하기(py)

In [ ]:
y, m, d = input().split('.')
print(d, m, y,sep='-')

2007.3.2
2-3-2007

# 6020 : [기초-입출력] 주민번호 입력받아 형태 바꿔 출력하기(py)

In [ ]:
a, b=input().split('-')
print(a+b)

00000007-1121112
000000071121112

# 6021 : [기초-입출력] 단어 1개 입력받아 나누어 출력하기(설명)(py)

In [ ]:
s = input()
for i in

# 6022 : [기초-입출력] 연월일 입력받아 나누어 출력하기(설명)(py)

In [ ]:
.

# 6023 : [기초-입출력] 시분초 입력받아 분만 출력하기(py)

In [ ]:
.

# 6024 : [기초-입출력] 단어 2개 입력받아 이어 붙이기(설명)(py)

In [ ]:
.

# 6025 : [기초-값변환] 정수 2개 입력받아 합 계산하기(설명)(py)

In [ ]:
.

# 6026 : [기초-값변환] 실수 2개 입력받아 합 계산하기(설명)(py)

In [ ]:
.

SyntaxError: ignored